# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables & Secrets
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files
.DS_Store
Thumbs.db

# Streamlit Cache
.streamlit/secrets.toml
